<!--
 * Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
 * See LICENSE in the project root for license information.
 -->
 
 p.
    You have successfully authenticated with #{service}. <br />
    You can safely close this window.

script.
    document.addEventListener("DOMContentLoaded", function (event) {
        window.close(); 
    });