p.
    You have successfully authenticated with #{service}. <br />
    You can safely close this window.

script.
    document.addEventListener('DOMContentLoaded', function (event) {
        window.open('', '_self', ''); window.close();
    });